/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
}

#global-container {
  flex-wrap: wrap;
}

.flex-vcenter {
  align-items: center;
}

.white {
  color: #FFFFFF;
}

.grey {
  color: #6C6D72;
}

.grey:hover {
  color: #FFFFFF;
}

/* regole menu con navigazione */

#menu {
  width: 250px;
  height: calc(100vh - 100px);
  background-color: #000000;
  flex-flow: column;
  align-items: flex-start;
}

#menu .logo .big {
  width: 150px;
  margin: 20px;
}

#menu .logo .small {
  display: none;
}

#menu .link-block a {
  margin-bottom: 10px;
  padding-left: 18px;
  border-left: 2px solid #000000;
  font-size: 13px;
}

#menu .link-block .white {
  border-left: 2px solid #ABFF36;
}

#menu .link-block img {
  width: 30px;
  margin-right: 5px;
}

#menu h3 {
  margin: 10px 20px;
  font-size: 14px;
}

#menu .playlist_plus {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 20px;
  background-color: #6C6D72;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#menu .playlist_plus div {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

#menu .playlist_text {
  font-size: 14px;
  color: #6C6D72;
}

#menu .playlist:hover .playlist_plus {
  background-color: #FFFFFF;
}

#menu .playlist:hover .playlist_text {
  color: #FFFFFF;
}

#menu ul {
  min-height: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  scrollbar-width: thin;
}

#menu li {
  margin: 20px;
}

#menu li a {
  font-size: 13px;
}

#menu .install {
  margin: 10px 20px;
  font-size: 13px;
}

#menu .install img {
  width: 15px;
  margin-right: 10px;
}

#menu .account {
  margin: 0 20px;
  padding: 10px 0;
  border-top: 1px solid #6C6D72;
  align-self: stretch;
  font-size: 14px;
  font-weight: bold;
}

#menu .account img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #6C6D72;
}

/* regole generali del corpo centrale */

main {
  width: calc(100% - 250px);
  height: calc(100vh - 100px);
  overflow: auto;
  scrollbar-width: thin;
  background-color: #141922;
}

/* regole della barra upgrade in alto */

#upgrade {
  width: calc(100% - 250px);
  height: 100px;
  position: fixed;
  z-index: 500;
  background-color: rgba(0,0,0,0.4);
  flex-direction: row-reverse;
  align-items: center;
}

#upgrade a {
  margin-right: 20px;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #FFFFFF;
  border-radius: 10%/50%;
}

#upgrade a:hover {
  transform: scale(1.1);
}

/* regole della zona centrale con le canzoni */

#music {
  padding-top: 100px;
}

#music .genres {
  justify-content: center;
  flex-wrap: wrap;
}

#music .genres a {
  margin: 10px 5px 2px;
  font-size: 13px;
  font-weight: bold;
}

#music .genres .selected {
  flex-direction: column;
  align-items: center;
}

#music .genres .selected-line {
  width: 30px;
  border-bottom: 2px solid #ABFF36;
}



/* regole comuni player in basso */

#player {
  width: 100%;
  height: 100px;
  background-color: #282828;
}

#player .bottom-space {
  flex-basis: 200px;
  flex-shrink: 2;
}

#player .time-max,
#player .volume-max {
  height: 5px;
  background-color: #6C6D72;;
  border-radius: 5px;
}

#player .time-current,
#player .volume-current {
  width: 20%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 5px;
}

#player .fa-circle {
  font-size: 16px;
  margin-left: -8px;
  margin-top: -5px;
  display: none;
}

#player .time-max:hover .time-current,
#player .volume-max:hover .volume-current {
  background-color: #ABFF36;
}

#player .time-max:hover .fa-circle,
#player .volume-max:hover .fa-circle {
  display: block;
}

/* regole info canzone a sx */

#player .current-song{
  align-items: center;
}

#player .current-song img {
  margin: 0 10px;
  width: 50px;
}

#player .info-song {
  margin-right: 40px;
}

#player .info-song .name-song {
  font-size: 13px;
  font-weight: bold;
}

#player .info-song .album-song div {
  font-size: 12px;
  margin-right: 3px;
}

#player .info-song .album-song:hover {
  text-decoration: underline;
}

#player .action-song a {
  margin-right: 10px;
}

/* regole comandi centrali */

#player .control-panel {
  flex-basis: 600px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#player .commands {
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

#player .commands .fas {
  font-size: 16px;
}

#player .commands .far {
  font-size: 30px;
}

#player .commands .far:hover {
  transform: scale(1.2);
}

#player .song-time {
  margin-top: 20px;
  align-self: stretch;
  justify-content: center;
}

#player .clock {
  font-size: 10px;
}

#player .time-max {
  margin: 0 10px;
  flex-grow: 1;
}

/* regole volume a dx */

#player .volume {
  align-items: center;
}

#player .volume > .fas {
  margin: 0 10px;
}

#player .volume-max {
  margin-right: 10px;
  width: 100px;
}


/* regole per versione XS */
@media all and (max-width: 576px) {

  .xs-disappear {
    display: none;
  }

  /* regole menu in XS */

  #menu {
    width: 50px;
    align-items: stretch;
  }

  #menu .logo .small {
    display: block;
    width: 30px;
    margin: auto;
    padding: 10px 0 20px;
  }

  #menu .link-block {
    flex-grow: 1;
  }

  #menu .link-block a,
  #menu .link-block .white {
    border: none;
    padding: 0;
  }

  #menu .link-block img {
    margin: 0 auto;
  }

  #menu .install,
  #menu .account {
    margin: 0 auto;
    padding: 10px 0;
    border: none;
}

  #menu .install img,
  #menu .account img {
    margin: 0;
  }

  /* regole corpo centrale in XS */

  main {
    width: calc(100% - 50px);
  }

  #upgrade {
    width: calc(100% - 50px);
  }

  /* regole player in XS */

  #player .info-song {
    margin-right: 20px;
  }

  #player .album-song,
  #player .action-song {
    flex-direction: column;
  }

}


/* regole per versione S */
@media all and (min-width: 577px) and (max-width: 768px) {

  /* regole player in S */

  #player .info-song {
    margin-right: 20px;
  }

  #player .action-song {
    flex-direction: column;
  }
}
