/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.white {
  color: #FFFFFF;
}

.grey {
  color: #6C6D72;
}

.grey:hover {
  color: #FFFFFF;
}

/* regole menu con navigazione */

#menu {
  width: 300px;
  height: calc(100vh - 100px);
  padding: 20px;
  background-color: #000000;
  flex-direction: column;
}

#menu .logo {
  width: 150px;
  margin-bottom: 30px;
}

#menu .link {
  margin-bottom: 10px;
  font-size: 13px;
}

#menu .link img {
  width: 30px;
  vertical-align: middle;
}

#menu h3 {
  margin: 10px 0;
  font-size: 14px;
}

#menu .playlist_plus {
  width: 40px;
  height: 40px;
  background-color: #6C6D72;
  justify-content: center;
  align-content: center;
}

#menu .playlist_plus div {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

#menu .playlist_text {
  align-self: center;
  margin-left: 10px;
  font-size: 14px;
  color: #6C6D72;
}

#menu .playlist:hover .playlist_plus {
  background-color: #FFFFFF;
}

#menu .playlist:hover .playlist_text {
  color: #FFFFFF;
}

/* regole generali del corpo centrale */

main {
  width: calc(100% - 300px);
  height: calc(100vh - 100px);
  overflow: auto;
  scrollbar-width: thin;
  background-color: #141922;
}

/* regole della barra upgrade in alto */

#upgrade {
  width: calc(100% - 300px);
  height: 100px;
  position: fixed;
  z-index: 500;
  background-color: rgba(8,11,18,0.5);
  flex-direction: row-reverse;
  align-items: center;
}

#upgrade a {
  margin-right: 20px;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #FFFFFF;
  border-radius: 10%/50%;
}

#upgrade a:hover {
  transform: scale(1.1);
}

/* regole della zona centrale con le canzoni */

#music {
  padding-top: 100px;
}

/* regole player in basso */

#player {
  width: 100%;
  height: 100px;
  background-color: #282828;
}
