/* REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

#global-container {
  flex-wrap: wrap;
}

.container {
  display: flex;
}

.flex-vcenter {
  align-items: center;
}

.white {
  color: #FFFFFF;
}

.grey {
  color: #6C6D72;
}

a.grey:hover {
  color: #FFFFFF;
}

/* REGOLE MENU A SINISTRA CON NAVIGAZIONE */

#menu {
  width: 250px;
  height: calc(100vh - 100px);
  background-color: #000000;
  flex-flow: column;
  align-items: flex-start;
}

/* logo spotify grosso */
#menu .logo .big {
  width: 150px;
  margin: 20px;
}

/* logo spotify piccolo */
#menu .logo .small {
  display: none;
}

/* blocco di link (home, search, library) */
#menu .link-block a {
  margin-bottom: 10px;
  padding-left: 18px;
  border-left: 2px solid #000000;
  font-size: 13px;
}

#menu .link-block .white {
  border-left: 2px solid #ABFF36;
}

#menu .link-block img {
  width: 30px;
  margin-right: 5px;
}

/* parte playlist */
#menu h3 {
  margin: 10px 20px;
  font-size: 14px;
}

#menu .playlist i {
  padding: 10px;
  margin: 0 10px 0 20px;
  font-size: 30px;
  color: #000000;
  background-color: #6C6D72;
}

#menu .playlist .text {
  font-size: 14px;
  color: #6C6D72;
}

#menu .playlist:hover i {
  background-color: #FFFFFF;
}

#menu .playlist:hover .text {
  color: #FFFFFF;
}

#menu ul {
  min-height: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  align-self: stretch;
  scrollbar-width: thin;
}

#menu li {
  margin: 20px;
}

#menu li a {
  font-size: 13px;
}

/* parte install */
#menu .install {
  margin: 10px 20px;
  font-size: 13px;
}

#menu .install img {
  width: 15px;
  margin-right: 10px;
}

/* parte account */
#menu .account {
  margin: 0 20px;
  padding: 10px 0;
  border-top: 1px solid #6C6D72;
  align-self: stretch;
  font-size: 14px;
  font-weight: bold;
}

#menu .account img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #6C6D72;
}

/* REGOLE GENERALI DEL CORPO CENTRALE */

main {
  width: calc(100% - 250px);
  height: calc(100vh - 100px);
  overflow: auto;
  scrollbar-width: thin;
  background-color: #141922;
}

/* barra upgrade in alto */
#upgrade {
  width: calc(100% - 250px);
  height: 100px;
  position: fixed;
  z-index: 500;
  background-color: rgba(0,0,0,0.4);
  flex-direction: row-reverse;
  align-items: center;
}

#upgrade a {
  margin-right: 20px;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #FFFFFF;
  border-radius: 10%/50%;
}

#upgrade a:hover {
  transform: scale(1.1);
}

/* zona centrale */
#music {
  padding-top: 100px;
}

/* link ai generi, podcast, ecc... */
#music .genres {
  justify-content: center;
  flex-wrap: wrap;
}

#music .genres a {
  margin: 10px 5px 2px;
  font-size: 13px;
  font-weight: bold;
}

#music .genres .selected {
  flex-direction: column;
  align-items: center;
}

#music .genres .selected-line {
  width: 30px;
  border-bottom: 2px solid #ABFF36;
}

/* titoli delle sezioni in cui sono divise le file di canzoni */
#music h1 {
  margin: 30px 20px;
}

#music h4 {
  margin: -20px 20px 20px;
  font-size: 12px;
}

/* parte relativa alle file di canzoni e artisti */
#music .category {
  padding-right: 20px;
  flex-wrap: wrap;
}

#music .song {
  margin-left: 20px;
  width: calc((100% / 6) - 20px);
  text-align: center;
}

#music .cover {
  position: relative;
}

#music .cover img {
  width: 100%;
}

#music .cover.round img {
  border-radius: 50%;
}

#music .cover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  display: none;
}

#music .song > .white {
  margin: 10px 0 20px;
  font-size: 14px;
  font-weight: bold;
}

#music .song > .grey {
  margin: -15px 0 15px;
  font-size: 12px;
}

#music .song:hover {
  cursor: pointer;
}

#music .song:hover i {
  display: block;
}

#music .song:hover img {
  filter: brightness(50%);
}

/* REGOLE PER IL PLAYER IN BASSO */

#player {
  width: 100%;
  height: 100px;
  background-color: #282828;
}

#player .bottom-space {
  flex-basis: 200px;
  flex-shrink: 2;
}

/* regole comuni per le barre di volume e lunghezza canzone */
#player .time-max,
#player .volume-max {
  height: 5px;
  background-color: #6C6D72;;
  border-radius: 5px;
}

#player .time-current,
#player .volume-current {
  width: 20%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 5px;
}

#player .fa-circle {
  font-size: 16px;
  margin-left: -8px;
  margin-top: -5px;
  display: none;
}

#player .time-max:hover .time-current,
#player .volume-max:hover .volume-current {
  background-color: #ABFF36;
}

#player .time-max:hover .fa-circle,
#player .volume-max:hover .fa-circle {
  display: block;
}

/* info canzone a sinistra */
#player .current-song{
  align-items: center;
}

#player .current-song img {
  margin: 0 10px;
  width: 50px;
}

#player .info-song {
  margin-right: 40px;
}

#player .info-song .name-song {
  font-size: 13px;
  font-weight: bold;
}

#player .info-song .album-song div {
  font-size: 12px;
  margin-right: 3px;
}

#player .info-song .album-song:hover {
  text-decoration: underline;
}

#player .action-song a {
  margin-right: 10px;
}

/* regole comandi centrali */
#player .control-panel {
  flex-basis: 600px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#player .commands {
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

#player .commands .fas {
  font-size: 16px;
}

#player .commands .far {
  font-size: 30px;
}

#player .commands .far:hover {
  transform: scale(1.2);
}

/* regole barra lunghezza canzone */
#player .song-time {
  margin-top: 20px;
  align-self: stretch;
  justify-content: center;
}

#player .clock {
  font-size: 10px;
}

#player .time-max {
  margin: 0 10px;
  flex-grow: 1;
}

/* regole volume a destra */
#player .volume {
  align-items: center;
}

#player .volume > .fas {
  margin: 0 10px;
}

#player .volume-max {
  margin-right: 10px;
  width: 100px;
}


/* REGOLE RESPONSIVE */

/* VERSIONE XS */
@media all and (max-width: 576px) {

  .xs-disappear {
    display: none;
  }

  /* MENU IN XS */

  #menu {
    width: 50px;
    align-items: stretch;
  }

  /* parte logo */
  #menu .logo .small {
    display: block;
    width: 30px;
    margin: auto;
    padding: 10px 0 20px;
  }

  /* parte blocco di link (home, search...) */
  #menu .link-block {
    flex-grow: 1;
  }

  #menu .link-block a,
  #menu .link-block .white {
    border: none;
    padding: 0;
  }

  #menu .link-block img {
    margin: 0 auto;
  }

  /* parte install e account */
  #menu .install,
  #menu .account {
    margin: 0 auto;
    padding: 10px 0;
    border: none;
  }

  #menu .install img,
  #menu .account img {
    margin: 0;
  }

  /* CORPO CENTRALE IN XS */

  main {
    width: calc(100% - 50px);
  }

  #upgrade {
    width: calc(100% - 50px);
  }

  #music .song {
    width: calc((100% / 2) - 20px);
  }

  /* PLAYER IN XS */

  #player .info-song {
    margin-right: 20px;
  }

  #player .album-song,
  #player .action-song {
    flex-direction: column;
  }

}


/* VERSIONE S */
@media all and (min-width: 577px) and (max-width: 768px) {

  /* PLAYER IN S */

  #player .info-song {
    margin-right: 20px;
  }

  #player .action-song {
    flex-direction: column;
  }

  /* CORPO CENTRALE IN S */

  #music .song {
    width: calc((100% / 2) - 20px);
  }

}


/* VERSIONE MD */
@media all and (min-width: 769px) and (max-width: 992px) {

  /* CORPO CENTRALE IN MD */

  #music .song {
    width: calc((100% / 4) - 20px);
  }

}
